body {
  font-family: sans-serif;
  background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/5300690/910/607/m2/fpnw/wm0/light-grey-background-.jpg?1541109596&s=2da939742238174a91de029c1f2d084d");
  color: dimgrey;
  margin: 0;
}

.MuiDialog-paperFullWidth {
  height: 100%;
}

#content {
	margin: 10px;
	padding: 10px;
}
