body {
  padding: 10px;
  font-family: sans-serif;
  background-image: url("https://cdn.hipwallpaper.com/i/4/61/ATMqIK.jpg");
  background-size: cover;
  color: lightgray;
}

.MuiDialog-paperFullWidth {
  height: 100%;
}
