#login_error_msg {
	color: red;
}

.bt_login {
	vertical-align: middle;
}

.login {
	float: right;
	vertical-align: top;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding-right: 10px;
}

.login-signup {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.user-profile {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
}

.username {
	display: flex;
	flex-direction: row;
}

.logout-button {
	padding-left: 2px;
}
