.nav-bar-container {
    background-color: whitesmoke;
    display: flex;
    padding-left: 10px;
    padding-top: 16px;
}

.nav-bar-container.home-nav-bar-container {
  padding-top: 0;
}

.nav-bar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  width: 100%;
}

.nav-bar-buttons {
  width: 100%;
}
