.add-new-review {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.23);
}

.title-text {
  padding-bottom: 10px;
  font-size: medium;
  font-weight: 500;
}

.each-review {
  padding: 5px;
  border-radius: 4px;
  margin-top: 4px;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.review-name {
  font-size: small;
  font-style: italic;
  font-weight: lighter;
}

.review-part {
  padding: 5px;
}

.review-rating {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}

.rating-input {
  position: relative;
  padding: 12px;
  margin-left: 5px;
  margin-top: 5px;
}

.rating-input-circle {
  display: none;
}

.star-input {
  position:absolute;
  top: 0;
  left: 0;
  color: #E8E8E8;
}

.star-input.checked {
  color: #3f51b5;
}

.one-star {
  z-index:5;
}

.two-star {
  z-index: 4;
}

.three-star {
  z-index: 3;
}

.four-star {
  z-index: 2;
}

.five-star {
  z-index: 1;
}

.input-star-icon {
  cursor: pointer;
}

.one-star:hover,
.two-star:hover ~ .one-star,
.two-star:hover,
.three-star:hover ~ .two-star,
.three-star:hover ~ .one-star,
.three-star:hover,
.four-star:hover ~ .three-star,
.four-star:hover ~ .two-star,
.four-star:hover ~ .one-star,
.four-star:hover,
.five-star:hover ~ .four-star,
.five-star:hover ~ .three-star,
.five-star:hover ~ .two-star,
.five-star:hover ~ .one-star,
.five-star:hover {
  color: #3f51b5;
}

.review-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.material-icons.MuiIcon-root.icon-delete-review {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

#alert-dialog-description {
  margin-top: 8px;
  margin-bottom: 0px;
}
