.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-basis: 24.25%;
  flex-direction: column;
  padding: 4px;
  min-height: 100%;
}

.MuiCard-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MuiCardContent-root.recipe-card-content-container {
  padding-bottom: 8px;
}

.MuiButton-root {
  color: peru;
}

.MuiCardContent-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-summary-info-item {
  display: flex;
  grid-template-columns: 1fr 4fr;
}

.card-rating-stars {
  margin-top: 4px;
  margin-bottom: 4px;
}

.card-summary-info {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
}
.MuiCardMedia-media {
  min-height: 170px;
  max-height: 170px;
}

.recipe-time-text {
  padding-left: 5px;
}

.recipe-cards-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-more-button {
  width: 25%;
  margin: 8px;
  background-color: whitesmoke;
  border-radius: 4px;
}

.back-to-top-button {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  padding-top: 10px;
  display: flex;
  background-color: whitesmoke;
  padding-left: 8px;
}

.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
  margin-bottom: 0;
}

.MuiCardActions-root.MuiCardActions-spacing {
  background-color: whitesmoke;
}
/**credit to tobiasahlin.com/spinkit for this CSS spinner**/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
