
.recipe-details-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.recipe-details-content {
  display: flex;
  flex-direction: column;
}

.recipe-item {
  padding: 5px;
}

.recipe-item-label {
  padding-bottom: 8px;
}

.MuiCardMedia-media.recipe-details-image {
  max-height: 100%;
}

.icon-edit {
  padding-right: 5px;
}

.stars-hearts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 8px;
}

.material-icons.MuiIcon-root.favorite-icon {
  font-size: 2.2rem;
  color: rosybrown;
}
