.add-new-review {
  padding: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 2px;
}

.title-text {
  padding-bottom: 10px;
  font-size: medium;
  font-weight: 500;
}

.each-review {
  padding: 5px;
  border-style: solid;
  border-radius: 2px;
  border-width: 0.5px;
  margin-top: 2px;
}

.review-name {
  font-size: x-small;
  font-style: italic;
}

.review-part {
  padding: 2px;
}

.review-rating {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}
